- name: apply target configuration to target nodes
  hosts: target
  remote_user: vagrant
  become: yes
  roles:
    ##- 00_almalinux9/00_dummy
    - 00_almalinux9/01_common/common
    - 00_almalinux9/01_common/swap
    - 00_almalinux9/01_common/useradd_with_key
    #- 00_almalinux9/02_web/httpd
    - 00_almalinux9/02_web/nginx
    ##- 00_almalinux9/03_app/php
    - 00_almalinux9/03_app/php-fpm
    ##- 00_almalinux9/04_database/mysql-client80
    - 00_almalinux9/04_database/mysql-server80
    #- 00_almalinux9/05_logs/httpd
    - 00_almalinux9/05_logs/nginx
    - 00_almalinux9/05_logs/mysql
    - 00_almalinux9/06_monitor/zabbix-agent50
    - 00_almalinux9/06_monitor/zabbix-mysql-agent