[mysqladmin]
password = {{ mysql_logs_password | default('dwRW2unMF&T', true) }} 
user= logs
socket=/var/lib/mysql/mysql.sock

[client]
password = {{ mysql_logs_password | default('dwRW2unMF&T', true) }}
user= logs
socket=/var/lib/mysql/mysql.sock